*.o
src/datalog.prover/db_lexer.ml
src/datalog.prover/db_parser.ml
src/datalog.prover/db_parser.mli
src/datalog.prover/db_test
src/logic/typeInference_test
src/utils/test_dependencyManager
src/utils/test_sharedForest

# /
/acg
/acg-20110607.tar.gz
/acgc
/acgc.opt
/acg.opt
/config.log
/config.status
/*.dot
/Makefile
/*.ps

# /config/
/config/acg
/config/acgc
/config/acgc.opt
/config/acg.opt
/config/autom4te.cache
/config/*.dot
/config/Makefile
/config/*.ps

# /src/
/src/acg
/src/acgc
/src/acgc.opt
/src/acg.opt
/src/*.annot
/src/*.cm[iox]
/src/depend
/src/*.dot
/src/Makefile
/src/Makefile.common
/src/Makefile.master
/src/*.old
/src/*.ps
/src/.targets
/src/test

# /src/acg-data/
/src/acg-data/acg
/src/acg-data/acgc
/src/acg-data/acgc.opt
/src/acg-data/acg.opt
/src/acg-data/*.annot
/src/acg-data/*.cm[iox]
/src/acg-data/depend
/src/acg-data/*.dot
/src/acg-data/lexer.ml
/src/acg-data/lexer.mli
/src/acg-data/Makefile
/src/acg-data/*.old
/src/acg-data/parser.ml
/src/acg-data/parser.mli
/src/acg-data/*.ps
/src/acg-data/.targets
/src/acg-data/test

# /src/data/
/src/data/acg
/src/data/acgc
/src/data/acgc.opt
/src/data/acg.opt
/src/data/*.annot
/src/data/*.cm[iox]
/src/data/depend
/src/data/*.dot
/src/data/*.old
/src/data/*.ps
/src/data/.targets
/src/data/test

# /src/datalog.prover/
/src/datalog.prover/acg
/src/datalog.prover/acgc
/src/datalog.prover/acgc.opt
/src/datalog.prover/acg.opt
/src/datalog.prover/*.annot
/src/datalog.prover/*.cm[iox]
/src/datalog.prover/depend
/src/datalog.prover/*.dot
/src/datalog.prover/Makefile
/src/datalog.prover/Makefile.common
/src/datalog.prover/Makefile.master
/src/datalog.prover/*.old
/src/datalog.prover/*.ps
/src/datalog.prover/.targets
/src/datalog.prover/test
/src/datalog.prover/test.dot
/src/datalog.prover/test.opt

# /src/datalog.solver/
/src/datalog.solver/acg
/src/datalog.solver/acgc
/src/datalog.solver/acgc.opt
/src/datalog.solver/acg.opt
/src/datalog.solver/*.annot
/src/datalog.solver/*.cm[iox]
/src/datalog.solver/depend
/src/datalog.solver/*.dot
/src/datalog.solver/Makefile
/src/datalog.solver/Makefile.common
/src/datalog.solver/Makefile.master
/src/datalog.solver/*.old
/src/datalog.solver/*.ps
/src/datalog.solver/.targets
/src/datalog.solver/test
/src/datalog.solver/test.dot
/src/datalog.solver/test.opt

# /src/grammars/
/src/grammars/acg
/src/grammars/acgc
/src/grammars/acgc.opt
/src/grammars/acg.opt
/src/grammars/*.annot
/src/grammars/*.cm[iox]
/src/grammars/data_lexer.ml
/src/grammars/data_lexer.mli
/src/grammars/data_parser.ml
/src/grammars/data_parser.mli
/src/grammars/depend
/src/grammars/*.dot
/src/grammars/*.extract_type
/src/grammars/Makefile
/src/grammars/*.ml.temp
/src/grammars/*.old
/src/grammars/*.ps
/src/grammars/.targets
/src/grammars/*_temp.ml
/src/grammars/test

# /src/logic/
/src/logic/acg
/src/logic/acgc
/src/logic/acgc.opt
/src/logic/acg.opt
/src/logic/*.annot
/src/logic/*.cm[iox]
/src/logic/depend
/src/logic/*.dot
/src/logic/lexer.ml
/src/logic/lexer.mli
/src/logic/Makefile
/src/logic/*.old
/src/logic/parser.ml
/src/logic/parser.mli
/src/logic/*.ps
/src/logic/.targets
/src/logic/test

# /src/scripting/
/src/scripting/acg
/src/scripting/acgc
/src/scripting/acgc.opt
/src/scripting/acg.opt
/src/scripting/*.annot
/src/scripting/*.cm[iox]
/src/scripting/depend
/src/scripting/doc
/src/scripting/*.dot
/src/scripting/*.extract_type
/src/scripting/Makefile
/src/scripting/*.ml.temp
/src/scripting/*.old
/src/scripting/*.ps
/src/scripting/script_lexer.ml
/src/scripting/script_lexer.mli
/src/scripting/script_parser.ml
/src/scripting/script_parser.mli
/src/scripting/.targets
/src/scripting/*_temp.ml
/src/scripting/test

# /src/utils/
/src/utils/acg
/src/utils/acgc
/src/utils/acgc.opt
/src/utils/acg.opt
/src/utils/*.annot
/src/utils/*.cm[iox]
/src/utils/depend
/src/utils/*.dot
/src/utils/Makefile
/src/utils/*.old
/src/utils/*.ps
/src/utils/.targets
/src/utils/test
